/* ----- Footer ----- */

#contenido_del_footer{
  background-color:#580054;
  color: #ffffff;
  width: auto;
  text-align: center;
  padding-bottom: 30px;
}


.divisiones{
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin-top: 20px;

}

.divisionabajo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  text-align:justify;
  text-align: center;
}

.barrita{
  border-bottom:2px solid grey;
  width:80%;
}

.divisionFooter5{
  text-align:center; 
}

.mini_texto{
  font-size: 13px;
}

.titulo-footer {
  font-weight: 800;
  color: #00fa9a;
}

.minititulo{
  font-size: 15px;
  font-weight: 600;
  color: mediumspringgreen;
}

.texto{
  font-size: 14px;
  text-align: justify;
}

.textocentro {
  font-size: 14px;
  text-align: center;
}